{% extends 'base.html'%}
{% load static %}
{%block content%}
<div class="row">
    <div class="col-sm-4">
        <h4 class="alert alert-warning">Add New User</h4>
        <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-success" value="Add">
        </form>
    </div>
    <div class="col-sm-7 offest=1">
        <h4 class="alert alert-warning">Show Information</h4>
        {% if info %}
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email Id</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in info %}
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.password}}</td>
                <td>
                    <a href="{% url 'updatedata' i.id %}" class="btn btn-warning ">Update</a>
                    <form action="{% url 'deletedata' i.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          

        {% else %}
        <h4 class="alert alert-warning">No Records</h4>
        {% endif %}



    </div>
</div>


{%endblock content%}
