<!DOCTYPE html>
{% load static %}
<html lang="en">
  {%block head%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        body  {
      background-image: url("/static/images/back3.jpg");
    }
    </style>
</head>
{%endblock head%}
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-primary">CRUD Operation with Model Form</h2>
        {%block content%} {%endblock content%}

    </div>
<script src="{%static 'foods/js/jquery.js' %}"></script>
<script src="{%static 'foods/js/popper.js' %}"></script>
<script src="{%static 'foods/js/bootstrap.js' %}"></script>
</body>
</html>